<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>

    <!---------------------Nav bar----------------------->
    <nav>
            <div class="left">
                <div class="logo">
                    <img class="profile-img" src="/images/icons/facebook_Logo.png" alt="facebook's logo">
                </div>
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search Facebook">
                </div>
            </div>


            <div class="center">
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-video"></i>
                <i class="fa-solid fa-store"></i>
                <i class="fa-solid fa-users"></i>
                <i class="fa-solid fa-gamepad"></i>
            </div>


            <div class="right">
                <i class="fa-solid fa-list"></i>
                <i class="fa-brands fa-facebook-messenger"></i>
                <i class="fa-solid fa-bell"></i>
                <img src="/images/profiles/img_profile.jpg" alt="profile picture">
            </div>
    </nav>


    <!---------------------Main----------------------->
    <div class="main">

        <!--------------------Left----------------------->
        <div class="main-left">
            <div class="img">
                <img src="/images/profiles/img_profile.jpg" alt="profile image">
                <p>Pancheewa Thapom</p>
            </div>
     
            <div class="img">
                <img src="/images/icons/friends.png" alt="friends icon">
                <p>Friends</p>
            </div>
            
            <div class="img">
                <img src="/images//icons/groups.png" alt="group icon">
                <p>Groups</p>
            </div>

            <div class="img">
                <img src="/images/icons/memories.png" alt="memories icon">
                <p>Memories</p>
            </div>

            <div class="img">
                <img src="/images/icons/saved.png" alt="seved icon">
                <p>Saved</p>
            </div>

            <div class="img">
                <img src="/images/icons/video.png" alt="video icon">
                <p>Video</p>
            </div>

            <div class="img">
                <img src="/images/icons/marketplace.png" alt="marketplace icon">
                <p>Marketplace</p>
            </div>

            <div class="img">
                <img src="/images/icons/feeds.png" alt="feeds icon">
                <p>Feeds</p>
            </div>

            <div class="img">
                <img src="/images/icons/see-more.png" alt="see more icon">
                <p>See more</p>
            </div>


            <hr>


            <h2>Your shortcuts</h2>

            <p class="edit">Edit</p>

            <div class="shortcuts">
                <img src="/images/profiles/groups_img.jpg" alt="Group 1 image">
                <p>Group 1</p>
            </div>
            
            <div class="shortcuts">
                <img src="/images/profiles/groups_img.jpg" alt="Group 2 image">
                <p>Group 2</p>
            </div>

            <div class="shortcuts">
                <img src="/images/profiles/groups_img.jpg" alt="Group 3 image">
                <p>Group 3</p>
            </div>

            <div class="shortcuts">
                <img src="/images/profiles/groups_img.jpg" alt="Group 4 image">
                <p>Group 4</p>
            </div>

            <div class="shortcuts">
                <img src="/images/profiles/groups_img.jpg" alt="Group 5 image">
                <p>Group 5</p>
            </div>
            
            <div class="shortcuts">
                <img src="/images/icons/see-more.png" alt="see nore icon">
                <p>See more</p>
            </div>
        </div>


        <!--------------------Center----------------------->
        <div class="main-center">
            <div class="my-post">
                <div class="post-top">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <input type="text" placeholder="What's on your mind, Pancheewa?">
                </div>

                <hr>
                
                <div class="post-bottom">
                    <div class="post-icon">
                        <img src="/images/icons/live-icon.png" alt="live-video">
                        <p>Live video</p>
                    </div>

                    <div class="post-icon">
                        <img src="/images/icons/photo-video-icon.png" alt="photo/video">
                        <p>Photo/video</p>
                    </div>

                    <div class="post-icon">
                        <img src="/images/icons/feeling-icon.png" alt="feeling-activity">
                        <p>Feeling/activity</p>
                    </div>
                </div>
            </div>


            <div class="center-story-content">

                <div class="previous-btn">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>

                <div class="my-story-card">
                    <img src="/images/story/mystory.jpg" alt="story">
                    <div class="story-upload">
                        <img src="/images/icons/add-icon.png" alt="upload image">
                        <p class="story-tag">Create story</p>
                    </div>
                </div>

                <div class="story-card">
                    <img src="/images/story/story1.jpg" alt="story">
                    <div class="story-profile">
                        <img src="/images//profiles/ohm_profile.jpg" alt="Ohm's profile">
                        <div class="circle"></div>
                    </div>
                    <div class="story-name">
                        <p class="name">Kaittiphong Srangsut</p>
                    </div>
                </div>

                <div class="story-card">
                    <img src="/images/story/story2.jpg" alt="story">
                    <div class="story-profile">
                        <img src="/images//profiles/ohm_profile.jpg" alt="Ohm's profile">
                        <div class="circle"></div>
                    </div>
                    <div class="story-name">
                        <p class="name">Kaittiphong Srangsut</p>
                    </div>
                </div>

                <div class="story-card">
                    <img src="/images/story/story3.jpg" alt="story">
                    <div class="story-profile">
                        <img src="/images//profiles/ohm_profile.jpg" alt="Ohm's profile">
                        <div class="circle"></div>
                    </div>
                    <div class="story-name">
                        <p class="name">Kaittiphong Srangsut</p>
                    </div>
                </div>

                <div class="story-card">
                    <img src="/images/story/story4.jpg" alt="story">
                    <div class="story-profile">
                        <img src="/images//profiles/ohm_profile.jpg" alt="Ohm's profile">
                        <div class="circle"></div>
                    </div>
                    <div class="story-name">
                        <p class="name">Kaittiphong Srangsut</p>
                    </div>
                </div>

                <div class="story-card">
                    <img src="/images/story/story5.jpg" alt="story">
                    <div class="story-profile">
                        <img src="/images//profiles/ohm_profile.jpg" alt="Ohm's profile">
                        <div class="circle"></div>
                    </div>
                    <div class="story-name">
                        <p class="name">Kaittiphong Srangsut</p>
                    </div>
                </div>

                <div class="next-btn">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>

            </div>


            <div class="friends-post">
                <div class="friend-post-top">
                    <div class="img-and-name">
                        <img src="/images/profiles/samlee_profile.jpg" alt="post 1">
                        <div class="friends-name">
                            <p class="friends-name">
                                Jaruwan Kamjudpai
                            </p>
                            <p class="time">16h · <i class="fa-solid fa-user-group"></i></p>
                        </div>
                    </div>

                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <img src="/images/posts/post1.jpg" alt="post 1">

                <div class="info">
                    <div class="emoji-img">
                        <img src="/images/icons/like-emoji.png" alt="like-emoji">
                        <img src="/images/icons/love-emoji.png" alt="love-emoji">
                        <img src="/images/icons/care-emoji.png" alt="care-rmoji">
                        <p>
                            <span class="full-comment">You, Kiattiphong Sransut and 95 others</span>
                            <span class="bev-comment">97</span>
                        </p>
                    </div>

                    <div class="comment">
                        <p>10 
                            <span class="full-comment">Comments</span>
                            <span class="bev-comment"><i class="fa-solid fa-comment"></i></span>
                        </p> 
                        <p>2 
                            <span class="full-comment">Shares</span>
                            <span class="bev-comment"><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="like">
                    <div class="like-icon">
                        <i class="fa-solid fa-thumbs-up activity"></i>
                        <p>Like</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comment</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>
                </div>

                <hr>

                <div class="comment-wrapper">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <div class="circl"></div>

                    <div class="comment-area">
                        <input type="text" placeholder="Write a comment...">
                        <div class="comment-area-stickersent">
                            <div class="comment-area-sticker">
                                <img src="/images/icons//avatar.png" alt="avatar icon">
                                <img src="/images/icons/emoji.png" alt="emoji icon">
                                <img src="/images/icons/photo-video.png" alt="photo-video icon">
                                <img src="/images/icons/gift.png" alt="gif icon">
                                <img src="/images/icons/sticker.png" alt="sticker icon">
                            </div>
                            <div class="comment-area-sentbtn">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="friends-post">
                <div class="friend-post-top">
                    <div class="img-and-name">
                        <img src="/images/profiles/profile2.jpg" alt="post 2">
                        <div class="friends-name">
                            <p class="friends-name">
                                Ploy Sai
                            </p>
                            <p class="time">16h · <i class="fa-solid fa-user-group"></i></p>
                        </div>
                    </div>

                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <img src="/images/posts/post2.jpg" alt="post 2">

                <div class="info">
                    <div class="emoji-img">
                        <img src="/images/icons/like-emoji.png" alt="like-emoji">
                        <img src="/images/icons/wow-emoji.png" alt="wow-emoji">
                        <img src="/images/icons/care-emoji.png" alt="care-rmoji">
                        <p>
                            <span class="full-comment">You, Kiattiphong Sransut and 95 others</span>
                            <span class="bev-comment">97</span>
                        </p>
                    </div>

                    <div class="comment">
                        <p>10 
                            <span class="full-comment">Comments</span>
                            <span class="bev-comment"><i class="fa-solid fa-comment"></i></span>
                        </p> 
                        <p>2 
                            <span class="full-comment">Shares</span>
                            <span class="bev-comment"><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="like">
                    <div class="like-icon">
                        <i class="fa-solid fa-thumbs-up activity"></i>
                        <p>Like</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comment</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>
                </div>

                <hr>

                <div class="comment-wrapper">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <div class="circl"></div>

                    <div class="comment-area">
                        <input type="text" placeholder="Write a comment...">
                        <div class="comment-area-stickersent">
                            <div class="comment-area-sticker">
                                <img src="/images/icons//avatar.png" alt="avatar icon">
                                <img src="/images/icons/emoji.png" alt="emoji icon">
                                <img src="/images/icons/photo-video.png" alt="photo-video icon">
                                <img src="/images/icons/gift.png" alt="gif icon">
                                <img src="/images/icons/sticker.png" alt="sticker icon">
                            </div>
                            <div class="comment-area-sentbtn">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="friends-post">
                <div class="friend-post-top">
                    <div class="img-and-name">
                        <img src="/images/profiles/profile3.jpg" alt="post 3">
                        <div class="friends-name">
                            <p class="friends-name">
                                Baifern Suay
                            </p>
                            <p class="time">16h · <i class="fa-solid fa-user-group"></i></p>
                        </div>
                    </div>

                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <img src="/images/posts/post3.jpg" alt="post 3">

                <div class="info">
                    <div class="emoji-img">
                        <img src="/images/icons/like-emoji.png" alt="like-emoji">
                        <img src="/images/icons/love-emoji.png" alt="love-emoji">
                        <img src="/images/icons/wow-emoji.png" alt="wow-emoji">
                        <p>
                            <span class="full-comment">You, Kiattiphong Sransut and 95 others</span>
                            <span class="bev-comment">97</span>
                        </p>
                    </div>

                    <div class="comment">
                        <p>10 
                            <span class="full-comment">Comments</span>
                            <span class="bev-comment"><i class="fa-solid fa-comment"></i></span>
                        </p> 
                        <p>2 
                            <span class="full-comment">Shares</span>
                            <span class="bev-comment"><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="like">
                    <div class="like-icon">
                        <i class="fa-solid fa-thumbs-up activity"></i>
                        <p>Like</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comment</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>
                </div>

                <hr>

                <div class="comment-wrapper">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <div class="circl"></div>

                    <div class="comment-area">
                        <input type="text" placeholder="Write a comment...">
                        <div class="comment-area-stickersent">
                            <div class="comment-area-sticker">
                                <img src="/images/icons//avatar.png" alt="avatar icon">
                                <img src="/images/icons/emoji.png" alt="emoji icon">
                                <img src="/images/icons/photo-video.png" alt="photo-video icon">
                                <img src="/images/icons/gift.png" alt="gif icon">
                                <img src="/images/icons/sticker.png" alt="sticker icon">
                            </div>
                            <div class="comment-area-sentbtn">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="friends-post">
                <div class="friend-post-top">
                    <div class="img-and-name">
                        <img src="/images/profiles/profile4.jpg" alt="post 4">
                        <div class="friends-name">
                            <p class="friends-name">
                                Ohmm za
                            </p>
                            <p class="time">16h · <i class="fa-solid fa-user-group"></i></p>
                        </div>
                    </div>

                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <img src="/images/posts/post4.jpg" alt="post 4">

                <div class="info">
                    <div class="emoji-img">
                        <img src="/images/icons/like-emoji.png" alt="like-emoji">
                        <img src="/images/icons/love-emoji.png" alt="love-emoji">
                        <img src="/images/icons/wow-emoji.png" alt="wow-emoji">
                        <p>
                            <span class="full-comment">You, Kiattiphong Sransut and 95 others</span>
                            <span class="bev-comment">97</span>
                        </p>
                    </div>

                    <div class="comment">
                        <p>10 
                            <span class="full-comment">Comments</span>
                            <span class="bev-comment"><i class="fa-solid fa-comment"></i></span>
                        </p> 
                        <p>2 
                            <span class="full-comment">Shares</span>
                            <span class="bev-comment"><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="like">
                    <div class="like-icon">
                        <i class="fa-solid fa-thumbs-up activity"></i>
                        <p>Like</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comment</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>
                </div>

                <hr>

                <div class="comment-wrapper">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <div class="circl"></div>

                    <div class="comment-area">
                        <input type="text" placeholder="Write a comment...">
                        <div class="comment-area-stickersent">
                            <div class="comment-area-sticker">
                                <img src="/images/icons//avatar.png" alt="avatar icon">
                                <img src="/images/icons/emoji.png" alt="emoji icon">
                                <img src="/images/icons/photo-video.png" alt="photo-video icon">
                                <img src="/images/icons/gift.png" alt="gif icon">
                                <img src="/images/icons/sticker.png" alt="sticker icon">
                            </div>
                            <div class="comment-area-sentbtn">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="friends-post">
                <div class="friend-post-top">
                    <div class="img-and-name">
                        <img src="/images/profiles/profile5.jpg" alt="post 5">
                        <div class="friends-name">
                            <p class="friends-name">
                                Fransis Gamu
                            </p>
                            <p class="time">16h · <i class="fa-solid fa-user-group"></i></p>
                        </div>
                    </div>

                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <img src="/images/posts/post5.jpg" alt="post 5">

                <div class="info">
                    <div class="emoji-img">
                        <img src="/images/icons/like-emoji.png" alt="like-emoji">
                        <img src="/images/icons/wow-emoji.png" alt="wow-emoji">
                        <img src="/images/icons/care-emoji.png" alt="care-rmoji">
                        <p>
                            <span class="full-comment">You, Kiattiphong Sransut and 95 others</span>
                            <span class="bev-comment">97</span>
                        </p>
                    </div>

                    <div class="comment">
                        <p>10 
                            <span class="full-comment">Comments</span>
                            <span class="bev-comment"><i class="fa-solid fa-comment"></i></span>
                        </p> 
                        <p>2 
                            <span class="full-comment">Shares</span>
                            <span class="bev-comment"><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="like">
                    <div class="like-icon">
                        <i class="fa-solid fa-thumbs-up activity"></i>
                        <p>Like</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-message"></i>
                        <p>Comment</p>
                    </div>

                    <div class="like-icon">
                        <i class="fa-solid fa-share"></i>
                        <p>Share</p>
                    </div>
                </div>

                <hr>

                <div class="comment-wrapper">
                    <img src="/images/profiles/img_profile.jpg" alt="my profile">
                    <div class="circl"></div>

                    <div class="comment-area">
                        <input type="text" placeholder="Write a comment...">
                        <div class="comment-area-stickersent">
                            <div class="comment-area-sticker">
                                <img src="/images/icons//avatar.png" alt="avatar icon">
                                <img src="/images/icons/emoji.png" alt="emoji icon">
                                <img src="/images/icons/photo-video.png" alt="photo-video icon">
                                <img src="/images/icons/gift.png" alt="gif icon">
                                <img src="/images/icons/sticker.png" alt="sticker icon">
                            </div>
                            <div class="comment-area-sentbtn">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load">
                <button>Load More</button>
            </div>

            <p class="end">Design By<span><i class="fa-regular fa-face-grin"></i>Baifern is so Pretty</span></p>
        </div>

        
        <!--------------------right----------------------->
        <div class="main-right">
            <div class="first-wrapper">
                <h2>Sponsored</h2>
                <div class="first-wrapper-sponsor">
                    <a href="https://singhaonline.com/?utm_medium=paid&utm_source=fb&utm_id=120216087148230537&utm_content=120216087148400537&utm_term=120216087148360537&utm_campaign=120216087148230537&fbclid=IwZXh0bgNhZW0BMABhZGlkAasX5PLr7bkBHezDMrgNjd-1cGAxGj9MmCvWxc2UdW4DiHOHMNOdd7_EsOmIgLui63aH6w_aem_xOAwEpIHF6XJZT7ruBS8ng" target="_blank">
                        <div class="sponsor">
                            <img src="/images/sponsor/sponsor1.jpg" alt="sponsor1">
                            <div class="text-des">
                                <p>Singha Online</p>
                                <small>singhaonline.com</small>
                            </div>
                        </div>
                    </a>
                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <div class="first-wrapper-sponsor">
                    <a href="https://axial.acs.org/publishing/paving-the-way-toward-equity-in-open-access-publication-innovations-and-their-impact?utm_source=facebook&utm_medium=cpc&utm_campaign=IC004_ST0010R_T005329_0624_DMA_Open_Access_adverts&src=IC004_ST0010R_T005329_0624_DMA_Open_Access_adverts&fbclid=IwZXh0bgNhZW0BMABhZGlkAAAF_YISU64BHa9EiXjkFVuwV2RXIGlxyPKPIUz4DILzI0CIvVIUbzU_XWfYlgEMS4jDdA_aem_Cc_HJI7e4E-0OwVVe7BkeQ" target="_blank">
                        <div class="sponsor">
                            <img src="/images/sponsor/sponsor2.jpg" alt="sponsor2">
                            <div class="text-des">
                                <p>Increasing global equity in open access</p>
                                <small>axial.acs.org</small>
                            </div>
                        </div>
                    </a>
                    <div class="menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
            </div>

            <hr>

            <div class="second-wrapper">
                <h2>Birthdays</h2>
                <div class="img-and-tag">
                    <img src="/images/icons/gift-icon.png" alt="">
                    <p><span>Anonymous person1 </span>and<span> 2 others </span>have birthdays today</p>
                </div>
            </div>

            <hr>

            <div class="third-wrapper">
                <div class="contact-tag">
                    <h2>Contacts</h2>
                    <div class="contact-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact1.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person1</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact2.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person2</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact3.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person3</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact4.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person4</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact5.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person5</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact6.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person6</p>
                </div>

                <div class="contact">
                    <img src="/images/contacts/contact7.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person7</p>
                </div>

                <div class="contact">
                    <img src="/images/profiles/profile2.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person8</p>
                </div>

                <div class="contact">
                    <img src="/images/profiles/profile3.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person9</p>
                </div>

                <div class="contact">
                    <img src="/images/profiles/profile4.jpg" alt="">
                    <div class="circle"></div>
                    <p>Anonymous Person10</p>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>